
* {
  box-sizing: border-box; 
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
  }
#main > nav
 {
  flex: 0 0 20vw;
  background: darkmagenta;
}
#main > aside
{
    flex: 0 0 20vw;
  background: blue;
}
header, footer {
    background: black;
    height: 20vh;
  }
  header, footer, nav, aside {
    padding: 1em;
    color: white;
    font-weight: bold;

  }
article{
    color: black;
    padding: 1em;

    font-weight: bold;
}